@keyframes fadeInBelow {
    0% {
        
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInToLeft {
    0% {
        
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.fadein__below {
    animation: fadeInBelow;
    animation-fill-mode: forwards;
    animation-duration: 0.8s;

}

.fadein__right {
    animation: fadeInToLeft;
    animation-fill-mode: forwards;
    animation-duration: 0.8s;
}

