@keyframes fadeIn {
    0% {
        
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        transform: translateX(0);
    }
}


.fadein__low {
    animation: fadeIn;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
}


.fadein__normal {
    animation: fadeIn;
    animation-fill-mode: forwards;
    animation-duration: 1.2s;
}

.fadein__high {
    animation: fadeIn;
    animation-fill-mode: forwards;
    animation-duration: 0.8s;
}



