body {
    color: #333;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Hiragino Sans', Meiryo, sans-serif;
    letter-spacing: 1px;
    max-width: 1440px;
    margin: 0 auto;
}


h1, h2, h3 {
    font-weight: 600;
}

ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}

.title__underline {
    width: 40px;
    height: 4px;
    background-color: #09b59b;
}


.side__menu {
    position: fixed;
    top: 50%;
    text-align: right;
    z-index: 9999;
    left: 0;
}

.side__menu span {
    display: block;
    width: 65px;
    border-bottom: 2px solid #333;
    transition: 0.5s;
    cursor: pointer;
}

.side__menu span:hover {
    width: 90px;
    border-color: #09b59b;
    color: #09b59b;
}



.nav__menu li a:hover {
    color: #09b59b;
}

.footer__nav--menu li a:hover {
    color: #09b59b;
}

.section__title {
    width: fit-content;
    text-align: center;
    margin-bottom: 4rem;
}

.section__title span {
    color: #D9D9D9;
}


.section__title h2 {
    font-size: 28px;
}

.more__btn {
    color: #333;
}

.more__btn a {
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 12px;

}

.more__btn span {
    margin-right: 1.5rem;
}

.more__btn a i {
    font-size: 14px;
    transition: 0.3s;
}

.more__btn a:hover i {
    transform: translateX(0.5em);
    color: #09b59b;
}



/* under page title style start  */
.under__title--second {
    font-size: 28px;
    text-align: center;
    
}
/* end  */

