
     /* footer style start  */
     footer {
        padding-bottom: 4rem;
    }
    .footer__container {
        width: 86%;
        margin: 0 auto;
    }

    .back__btn {
        margin-bottom: 2rem;
    }

    .back__btn a {
        display: flex;
        flex-flow: column;
        color: #09b59b;
        font-weight: 500;
        line-height: 1rem;
        width: fit-content;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }

    .back__btn a:hover {
        opacity: 0.6;
    }

    .footer__container h3 {
        margin-bottom: 2rem;
    }

    .footer__nav { 
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer__nav p {
        font-size: 12px;
        color: #aaaaaa;
    }

    .footer__nav--menu {
        display: flex;
        justify-content: space-between;
        width: 480px;
    }

    .footer__nav--menu a {
        letter-spacing: 0.5px;
    }
    /* footer style end  */


    @media screen and (max-width: 480px) {
        .footer__container h3 {
            display: none;
        }

        .footer__nav {
            flex-flow: column-reverse;
        }

        .footer__nav--menu {
            flex-flow: column;
            margin: 2rem 0;
        }

        .footer__nav--menu li {
            text-align: center;
            margin: 1rem 0;
        }
    }