

    .header__container {
        width: 98%;
        margin: 5rem auto;
    }

    .header__title {
        text-align: center;
        margin: 4rem 0;
    }

    .header__title h1 {
        font-weight: 300;
        font-size: 28px;
        margin-bottom: 1rem;
        opacity: 0;
        transform: translateY(1rem);
    }

    .header__title h1 span {
        font-weight: 600;
    }

    .header__title .title__english {
        opacity: 0;
        transform: translateY(1rem);
        display: block;
    }

    .header__container img {
        width: 100%;
        height: 500px;
        object-fit: cover;
        border-radius: 4rem;
        opacity: 0;
        transform: translateY(1rem);
    }


    /* information style start  */

    .information__section {
        width: 76%;
        margin: 8rem auto;
    }

    

    .information__section .section__title {
        opacity: 0;
        transform: translateY(1rem);
    }

    .information__section article:first-child {
        border-top: 1px solid #333;
    }

    .information__section article {
        border-bottom: 1px solid #333;
        opacity: 0;
        transform: translateY(1rem);
    }

    .information__section article a {
        padding: 1.5rem 0;
        display: block;
    }

    .information__section article a:hover {
        opacity: 0.5;
    } 

    .article__inner {
        display: flex;
        align-items: center;
    }

    .date__category {
        display: flex;
        
    }

    .date__category .date {
        margin-right: 3rem;
        font-size: 12px;
        letter-spacing: 0.5px;
    }

    .date__category .category {
        width: 150px;
        color: #09b59b;

    }

    .article__inner .desc {
        font-weight: 300;
    }

    .information__section .more__btn {
        text-align: right;
        margin: 3rem 0;
    }

    .information__section .more__btn a {
        opacity: 0;
        transform: translateX(-2rem);
        display: block;
    }
    /* information style end */

    /* about us style start */
    .aboutus__section {
        position: relative;
        margin: 14rem 0;
    }

    .aboutus__bg {
        background-image: url(../images/about_us_bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0;
    }

    .aboutus__bg--title {
        background-color: #fff;
        position: relative;
        z-index: 100;
        width: 32%;
        padding: 8rem 0 5rem 172.797px;
       

    }

    .aboutus__bg--title .section__title {
        margin: 0;
        opacity: 0;
        transform: translateY(1rem);
    }

    .aboutus__bg--desc {
        background-color: #fff;
        position: relative;
        z-index: 100;
        width: 56%;
        padding: 6rem 10rem 0 171.797px;
    }

    .aboutus__bg--desc p {
        line-height: 2.5rem;
        margin-bottom: 3rem;
        opacity: 0;
        transform: translateY(1rem);
    }

    .aboutus__bg--desc .more__btn a {
        display: block;
        transform: translateX(-2rem);
        opacity: 0;
    }

    /* about us style end */

    /* service style start */
    .service__section {
        margin: 14rem 0;
    }

    .service__section .section__title {
        margin: 3rem auto;
        opacity: 0;
        transform: translateY(1rem);
    }

    .service__box {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 3rem;
        position: relative;
    }

    .service__box:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        border-top: solid 1px #09b59b;
       
    }
    .service__box:after {
        content: '';
        position: absolute;
        left: 100%;
        bottom: 0;
        width: 0;
        transform: translateX(-100%);
        border-top: solid 1px #09b59b;

       
    }

    .service__card {
        width: calc(100% / 3);
        padding: 3rem 4rem;
        position: relative;
        opacity: 0;
        transform: translateY(1rem);
    }

    .service__card img {
        width: 80px;
        height: 80px;
        margin: 0 auto;
    }

    .service__card h3 {
        text-align: center;
        margin: 1.5rem 0 1rem 0;
    }

    .service__card .title__underline {
        margin: 0 auto 1.5rem auto;
    }

    .service__card p {
        line-height: 1.8rem;
    }

    .side__line--left {
        width: 1px;
        height: 0;
        border-left: 1px solid #09b59b;
        position: absolute;
        left: 0;
        top: 0;
    }

    .side__line--right {
        width: 1px;
        height: 0;
        border-left: 1px solid #09b59b;
        position: absolute;
        right: 0;
        top: 100%;
        transform: translateY(-100%);
    }

    .add__animation {
        animation: borderSlideY 1s linear forwards;
    }

    .service__section .more__btn {
        text-align: center;
        
    }

    .service__section .more__btn a {
        opacity: 0;
        transform: translateY(1rem);
        display: block;
    }
    /* service style end */

    /* works style start */
    .works__section {
        margin: 14rem 0;
    }

    .works__section .section__title {
        margin: 3rem auto;
        opacity: 0;
        transform: translateY(1rem);
    }

    .works__box {
        opacity: 0;
        transform: translateY(1rem);
    }

    .works__slider--top {
        margin-bottom: 1rem;
    }

    .works__slider--under {
        margin-bottom: 3rem;
    }

    .works__slider--top img, .works__slider--under img {
        width: 550px;
        height: 340px;
        object-fit: cover;
        border-radius: 0 2.5rem 0 2.5rem;
        margin: 1rem;
    }

    .works__section .more__btn {
        text-align: center;
    }

    .works__section .more__btn a {
        opacity: 0;
        transform: translateY(1rem);
        display: block;
    }
    /* end  */

@media screen and (max-width: 480px) {
    .header__container {
        width: 100%;
        margin: 8rem 0;
    }


    .header__title h1 {
        font-size: 20px;
        width: 90%;
        margin: 0 auto 1rem;
        line-height: 2.5rem;
        font-family: 'Lato', sans-serif;

    }

    .header__container img {
        height: 400px;
        border-radius: 2rem;
    }

    /* information sp style start  */
    .information__section {
        width: 90%;
        margin: 0 auto;
    }

    .information__section .section__title {
        margin-bottom: 3rem;
    }

    .article__inner {
        flex-flow: column;
        align-items: flex-start;
    }


    .date__category {
        margin-bottom: 0.5rem;
    }
    .date__category .date {
        margin-right: 1rem;
    }

    .date__category .category {
        width: 100px;
    }



    .information__section .more__btn {
        text-align: center;
    }

    /* end  */

    /* aboutus sp style start  */
    .aboutus__section {
        height: 600px;
        margin: 16rem 0 20rem;
    }
    .aboutus__bg--title {
        position: absolute;
        top: -8rem;
        left: 1rem;
        padding: 0;
        width: fit-content;
        z-index: 100;
    }

    .aboutus__bg--title .section__title {
        text-align: left;
    }

    .aboutus__bg--desc {
        padding: 4rem 3rem;
        width: 80%;
        position: relative;
        bottom: -26rem;
       
        
    }

    .aboutus__section .more__btn {
        text-align: center;
    }
    /* end  */

    /* service sp style start  */
    .service__section {
        margin: 8rem 0;
    }
    .service__box {
        flex-flow: column;
    }

    .service__card {
        width: 100%;
        padding: 3rem 2rem;
    }

    .service__card img {
        width: 100px;
        height: 100px;
    }
    .service__card:nth-child(1), .service__card:nth-child(2) {
        border-bottom: 1px solid #09b59b;
    }
    /* end  */

    /* works sp style start  */
    .works__section {
        margin: 8rem 0;
    }
    .works__slider--top img, .works__slider--under img {
        width: 280px;
        height: 240px;
    }

    /* end  */
}