@media screen and (min-width: 1440px) {
    body {
        width: 1440px;
        margin: 0 auto;
    }



    nav {
        margin-bottom: 12rem;
        padding: 3rem 0;
        
    }

    .logo__box {
        position: absolute;
        top: 2.4rem;
        left: 6rem;
    }

    #circular__box {
        width: 100%;
    }

    .logo__text {
        font-size: 24px;
        font-weight: 600;
    }

    .nav__inner {
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    
    
    .nav__menu {
        width: 42%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .nav__menu a {
        letter-spacing: 0.5px;
    }

    .header__container {
        width: 98%;
        margin: 5rem auto;
    }

    .header__title {
        text-align: center;
        margin: 4rem 0;
    }

    .header__title h1 {
        font-weight: 300;
        font-size: 28px;
        margin-bottom: 1rem;
    }

    .header__title h1 span {
        font-weight: 600;
    }

    .header__container img {
        width: 100%;
        height: 500px;
        object-fit: cover;
        border-radius: 4rem;
    }


    /* information style start  */

    .information__section {
        width: 76%;
        margin: 8rem auto;
    }

    .section__title {
        width: fit-content;
        text-align: center;
        margin-bottom: 4rem;
    }

    .information__section article:first-child {
        border-top: 1px solid #333;
    }

    .information__section article {
        border-bottom: 1px solid #333;
    }

    .information__section article a {
        padding: 1.5rem 0;
        display: block;
    }

    .information__section article a:hover {
        opacity: 0.5;
    } 

    .article__inner {
        display: flex;
        align-items: center;
    }

    .article__inner .date {
        margin-right: 3rem;
        font-size: 12px;
        letter-spacing: 0.5px;
    }

    .article__inner .category {
        width: 150px;
    }

    .article__inner .category {
        color: #09b59b;
    }

    .article__inner .desc {
        font-weight: 300;
    }

    .information__section .more__btn {
        text-align: right;
        margin: 3rem 0;
    }
    /* information style end */

    /* about us style start */
    .aboutus__section {
        position: relative;
        margin: 8rem 0;
    }

    .aboutus__bg {
        background-image: url(../images/about_us_bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .aboutus__bg--title {
        background-color: #fff;
        position: relative;
        z-index: 100;
        width: 32%;
        padding: 8rem 0 5rem 172.797px;

    }

    .aboutus__bg--title .section__title {
        margin: 0;
    }

    .aboutus__bg--desc {
        background-color: #fff;
        position: relative;
        z-index: 100;
        width: 56%;
        padding: 6rem 10rem 0 171.797px;
    }

    .aboutus__bg--desc p {
        line-height: 2.5rem;
        margin-bottom: 3rem;
    }

    /* about us style end */

    /* service style start */
    .service__section {
        margin: 8rem 0;
    }

    .service__section .section__title {
        margin: 3rem auto;
    }

    .service__box {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-top: 1px solid #09b59b;
        border-bottom: 1px solid #09b59b;
        margin-bottom: 3rem;
    }

    .service__card {
        width: calc(100% / 3);
        padding: 3rem 4rem;
    }

    .service__card img {
        width: 80px;
        height: 80px;
        margin: 0 auto;
    }

    .service__card h3 {
        text-align: center;
        margin: 1.5rem 0 1rem 0;
    }

    .service__card .title__underline {
        margin: 0 auto 1.5rem auto;
    }

    .service__card p {
        line-height: 1.8rem;
    }

    .service__card:nth-child(1) {
        border-left: 1px solid #09b59b;
    }

    .service__card:nth-child(2) {
        border-left: 1px solid #09b59b;
        border-right: 1px solid #09b59b;
    }

    .service__card:nth-child(3) {
        border-right: 1px solid #09b59b;
    }

    .service__section .more__btn {
        text-align: center;
    }
    /* service style end */

    /* works style start */
    .works__section {
        margin: 8rem 0;
    }

    .works__section .section__title {
        margin: 3rem auto;
    }

    .works__slider--top {
        margin-bottom: 1rem;
    }

    .works__slider--under {
        margin-bottom: 3rem;
    }

    .works__slider--top img, .works__slider--under img {
        width: 550px;
        height: 340px;
        object-fit: cover;
        border-radius: 0 2.5rem 0 2.5rem;
        margin: 1rem;
    }

    .works__section .more__btn {
        text-align: center;
    }
    /* end  */

   

   
}
