
    nav {
        margin-bottom: 12rem;
        padding: 3rem 0;
        
    }
    
    .logo__box {
        position: absolute;
        top: 2.4rem;
        left: 6rem;
    }
    
    #circular__box {
        width: 100%;
    }
    
    .logo__text img  {
        width: 60px;
    }
    
    .nav__inner {
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    
    
    .nav__menu {
        width: 42%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    
    .nav__menu a {
        letter-spacing: 0.5px;
    }

    .nav__menu--modal {
        position: fixed;
        z-index: 9999;
        width: 100%;
        height: 100%;
        
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        display: none;
        
    }

    .modal__inner {
        background-color: #09b59b;
        width: 35%;
        height: 100%;
        border-radius: 0 2.5rem 2.5rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .close__pc {
        position: absolute;
        top: 2rem;
        right:2rem;
        font-size: 20px;

    }

    .modal__menu li {
        margin: 2rem;
    }

    .modal__menu li a {
        font-size: 20px;
        color: #fff;
    }

    .close__sp {
        display: none;
    }


    

    @media screen and (max-width: 480px) {
        nav {
            padding: 1rem 0 3rem 0;
            margin-bottom: 4rem;
        }
        .logo__box {
            top: 1.1rem;
            left: 18.89px;
        }
        .logo__box img {
            width: 50px;
        }

        .nav__inner {
            justify-content: right;
        }
        .nav__menu {
            display: none;
        }

        .hamburger__icon span {
            width: 25px;
            height: 4px;
            background-color: black;
            margin: 6px 0;
            transition: .5s;
            display: block;
            border-radius: 2rem;
        }
        .hamburger__icon:hover span {
            opacity:0.6;
            /* 透明度を指定 */
            transform:skewX(70deg);
            /* X軸(横)の傾斜角度を指定 */
        }


        .nav__menu--modal {
            justify-content: center;
            padding: 0;
            width: 100%;
            height: 100%;
        }
        .modal__inner {
            width: 92%;
            height: 92%;
            border-radius: 0;
            
        }

        .close__pc {
            display: none;
        }

        .modal__menu li {
            margin: 2rem;
            text-align: center;
        }
    
        .close__sp {
            display: block;
        }

    }
